@import "./var.scss";
//components
.text-btn{
	&:active{
		color:$activeIconColor!important;
	}
}
footer{
	color: #AFAFAF!important;
	background-color: $backgroundColor;
	.active{
		color: $textactive;
	}
}
