@import "./color";

// primary and accent
$primaryColor: $deepPurple400;  // 主色
$darkerPrimaryColor: $deepPurple600;
// $primaryColor: $deepPurple400;  // 主色
// $darkerPrimaryColor: $deepPurple600;
$lighterPrimaryColor: $grey400;
$accentColor: $pinkA200;
$darkerAccentColor: $grey100;
$lighterAccentColor: $grey500;

// textColor or borderColor
$textColor: $darkBlack;
$textactive: $blue;
$secondaryTextColor: fade($fullBlack, 54%);
$alternateTextColor: $white;
$borderColor: fade($fullBlack, 12%);
$disabledColor: fade($fullBlack, 38%);

// background
$backgroundColor: $white;
$statusBarBackgroundColor: $grey300;
$appbarBackgroundColor: $grey100;
$dialogBackgroundColor: $white; // dialogs or cards

// icon color
$activeIconColor: $blue;
$inActiveIconColor: fade($fullBlack, 38%);