.myBorrowPage{
	.blue{color:#2391ff!important;}
	.red{color:#ff595b!important;}
	.gray{color:#999!important;}
	position: absolute;
	left: 0;
	top:0;
	.content{
		background: #fff;
		padding:0 0.2rem;
		.zfpz{
			position: absolute;
			right: 0.3rem;
			top:0.3rem;
			width: 0.36rem;
			height: 0.36rem;
		}
		.borrowAmount{
			padding: 0.65rem 0;
			border-bottom: 1px dashed #e7e7e7;
			.num{
				font-size:0.66rem; 
				color: #555;
			}
		}
		.borrowInfo{
			padding: 0.2rem 0.1rem;
			li{
				color: #999;
				font-size:0.28rem;
				line-height: 0.7rem;
			}
			li>span:first-child{
				display: inline-block;
				width: 2.3rem
			}
			li span:last-child{
				color:#555;
			}
		}
    }
	.mint-button{
		margin-top:0.5rem;
	}
}