$listHeight:45px;
.passwordCss{
  .QUES{
    width: 15px;
    margin-top:15px;
    margin-left: 5px;
  }
  .paymentMethod{
    width: 6rem;
    background: #fff;
    border-radius: 5px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -3rem;
    z-index: 9;
    .sct2{
      max-height: 225px;
      overflow-y: auto;
    }
    .sct2,.sct3{
      .list{
        position: relative;
        padding: 0 0.2rem;
        height: $listHeight;
        line-height: $listHeight;
        border-top:1px solid $border-color;
        font-size: 13px;
        clear: both;
        overflow: hidden;
        .bankImg{
          width: 20px;
          margin-top: 14px;
          margin-right: 5px;
        }
        .hasArrow{
          width: 20px;
          position: absolute;
          top: 50%;
          margin-top: -10px;
          right: 0.2rem;
        }
      }
    }
    .sct1{
      width: 100%;
      text-align: center;
      position: relative;
      height: $listHeight;
      line-height: $listHeight;
      color: #535353;
      img{
        width: 20px;
        position: absolute;
        left: 0.2rem;
        top: 14px;
      }
    }
  }
  .mint-cell{
    min-height:$listHeight
  }
  .passwordCssDialogBg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000;
    z-index: 8;
  }
  .passwordCssDialog{
    width: 6rem;
    background: #fff;
    border-radius: 5px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -3rem;
    z-index: 9;
    .sct2{
      width: 100%;
      .mint-field{
        width: 4.8rem;
        margin: 0 auto;
        border-bottom: 1px solid $border-color;
      }
      .mint-cell-wrapper{
        padding: 0;
      }
      .mint-field-core{
        padding-left: 0.2rem;
      }
      .hasArrow{
        padding-right: 20px;
        background: url('./../image/icon/arrow-right.png') no-repeat center right;
        background-size: 15px 15px;
      }
      .list{
        position: relative;
        padding: 0 0.2rem;
        height: $listHeight;
        line-height: $listHeight;
        border-top:1px solid $border-color;
        clear: both;
        overflow: hidden;
      }
    }
    .sct1{
      width: 100%;
      text-align: center;
      position: relative;
      height: $listHeight;
      line-height: $listHeight;
      font-size:0.32rem;
      color: #333;
      img{
        width: 0.3rem;
        position: absolute;
        right: 0.2rem;
        top: 14px;
      }
    }
    .rightTip{
      color: #4790f7;
      padding-right: 0.2rem;
    }

    .mint-button--normal{
      width: 80%;
      margin-left: 10%;
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
    }
  }
}
